<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/sass/movies.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Movies</title>
  </head>
  <body>

    <header>
      <form id="form">
        <input type="text" placeholder="Search" id="input" class="search">
      </form>
    </header>

    <main id="main">
      <div class="movie">
        <img src="/src/images/image-library/library_background@2x.jpg" alt="Image" class="movie-img">
          <div class="movie-info">
            <h3>Movie Title</h3>
            <p class="info">Info about movie | year of release</p>
          </div>
      </div>
      <div class="movie">
        <img src="/src/images/image-library/library_background@2x.jpg" alt="Image" class="movie-img">
          <div class="movie-info">
            <h3>Movie Title</h3>
            <p class="info">Info about movie | year of release</p>
          </div>
      </div>
      <div class="movie">
        <img src="/src/images/image-library/library_background@2x.jpg" alt="Image" class="movie-img">
          <div class="movie-info">
            <h3>Movie Title</h3>
            <p class="info">Info about movie | year of release</p>
          </div>
      </div>
    </main>

    <script src="/js/addToLocalStorage.js"></script>
</html>
